@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.4s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wiggle-in {
  animation: wiggle 1s ease-out 0.25s both;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.float {
animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.3);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 7px 13px 0px rgba(0,0,0,0.25);
    transform: translatey(-3px) scale(1.03);
  }
  100% {
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.3);
    transform: translatey(0px);
  }
}